
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


    <title></title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">

      <div class="table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">
              </th>
              <th scope="col">Doctor name</th>
              <th scope="col">Patient name</th>
              <th scope="col">Patient Email</th>
              <th scope="col">Patient Number</th>
              <th scope="col">Patient Gender</th>
              <th scope="col">Date of Consulting</th>
              <th scope="col">Time of Consulting</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              {{#each appoinments}}
            <tr>
              <th scope="row">
              </th>
              <td>
                {{this.doctorName}}
              </td>
              <td>
                {{this.name}}
              </td>
              <td>{{this.email}}</td>
              <td>
                {{this.Phone}}
              </td>
              <td>{{this.gender}}</td>
              <td>
                  {{this.date}}
              </td>
              <td>
                  {{this.time}}
              </td>
              <td>
                  <button onclick="location='/delete-appoinment/{{this._id}}'" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
            {{/each}}
           
            
            
          </tbody>
        </table>
      </div>


    </div>

  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>